[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
